@media (max-width: 768px) {
    body {
        padding: 1rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .main-grid {
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    .photo-container img {
        width: 250px;
    }

    form {
        gap: 0.8rem;
    }

    .form-container {
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (min-width: 695px) and (max-width: 1060px) {
    
    .grid-item.projects {
        display: none;
    }

    .grid-item.music {
        display: none;
    }
}
/* Completed by Charles Looney Web Dev Final */